body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#login-form {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 2em;
}

#full-nav {
  display: flex;
}

a {
  font-size: 1em;
}

#leftArrow {
  margin-right: 25px;
  margin-top: 4px;
  height: 35px
}

#leftArrow:hover {
  transform: scale(1);
}
